<div>
  <% ideas.each do |idea| %>
    <div>
      <h2><%= idea.title %></h2>
      <p><%= idea.description %></p>
    </div>
  <% end %>
</div>

<%= form_with model: Idea.new do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <br><br>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <%= form.submit %>
<% end %>